<div class="exportButtonContainer" ng-show="!hideButton">
  <button ng-click="prepareDataForDownload()"
      ng-disabled="canExportData === false"
      ng-class="{'disabled': canExportData === false}"
      ng-attr-title="{{ canExportData === false ? 'This object cannot be exported' : undefined }}">
    <span class="lui-icon lui-icon--download"></span>
  </button>
</div>


<loading-modal  
    is-loading-data="isLoadingData"
    export-data="exportData()"
    display-modal="displayDataLoadingModal">
</loading-modal>
